{
    "extends": "airbnb/base",
    "rules": {
        "linebreak-style": ["error", "windows"] ,
        "indent": ["error", "tab"],
        "no-tabs": 0
    },
    "env": {
        "browser": true
    },
    "globals": {
        "Handlebars": true
    }
}