/* .app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
    margin: 30vh auto auto auto;
    width: 650px;
    height: 154px;
    justify-content: space-between;
} */

/* Блоки: */

@import '../../../styles/form';
@import '../../../styles/const';

@media (max-width: 415px) {
    body { 
        display: flex;
        justify-content: space-around;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        /* justify-self: center; */
        margin: 10vh 0 0 0;
        width: 95%;
        height: 154px;

        min-width: 300px;
    }

    .menu__title {
        text-align: center;
    
        margin: 0px 0px 5px 0px;
    
        width: 100%;

        color: $main-color;
        /* font: driving-around; */
        /* transition-property: color;
    
        transition-duration: 0.2s; */
    }

    .main-bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        float: left;

        order: 2;
    
        margin: none;
        width: 100%;
        height: 70%;
    }
    
    .options {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
        /* order: 3; */

        margin: 5px auto;
        width: 650px;
    }
    
    /* Элементы */
    
    .profile-avatar {
        margin: 3% 10% 0 10%;
        height: 70px;
        width: 70px;
    }
    
    .profile-nickname, .profile-score {    
        color: $main-color;
    }
    
    .profile-nickname {
        margin: 3px;
    }
    
    .profile-score {
        display: none;

        margin: 0px;
    
        font-size: 30px;
    }
    
    .main-bar__item {
        text-align: center;
    
        width: 100%;
        height: 100%;

        margin: 5px 0 0 0;
    
        background-color: white;
    
        border: 1px $main-color solid;
        border-radius: 5px;
    
        transition: 0.2s linear;
    }
    
    .menu_btn {
        font-size: 25px;
    
        border-radius: 5px;
        border: solid $main-color 1px;
    
        color: $main-color;
        background: rgba(255, 255, 255, 0.5);
    
        transition: 0.2s linear;
    
        outline: none;
    }
    
    .btn-1 {
        font-size: 25px;
    
        width: 48%;
    
        border-radius: 5px;
        border: solid $main-color 1px;
    
        color: $main-color;
        background: rgba(255, 255, 255, 0.5);
    
        transition: 0.2s linear;
    
        outline: none;
    }
    
    .menu_btn:hover {
        font-size: 30px;
    
        border: solid white 1px;
    
        background-color: $main-color;
        color: white;
    
        transition: 0.2s linear;
    }
    
    .menu_btn:hover::after {
        display: flex;
        justify-content: space-around;
        margin: none;
    
        font-size: 15px;
        
        content: attr(data-title);
        color: #fff;
        font-family: sans-serif;
        /* background-color: green; */
    
        transition: 0.2s linear;
    }
    
    .menu__play-btn {
        width: 69%;
        height: 100px;
        margin: 0px 0 0 0;
    
        font-size: 25px;
    
        border-radius: 5px;
        border: solid $main-color 1px;
    
        color: $main-color;
        background: rgba(255, 255, 255, 0.5);
        
        outline: none;
    
        transition-property: width;
    
        /* transition-delay: 0.2s; */
        transition-duration: 0.2s;
    }
    
    .menu__play-btn:hover {
        font-size: 30px;
    
        border: solid white 1px;
    
        background-color: $main-color;
        color: white;
    
        transition: 0.2s linear;
    }
    
    .menu__profile {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
        width: 29%;
        height: 98px;
    
        border-radius: 5px;
        border: 1px $main-color solid;
    
        background-color: rgba(255, 255, 255, 0.8);
    
        transition-property: width;
    
        /* transition-delay: 0s; */
        transition-duration: 0.2s;
    }
    
    .menu__profile-buttons-section {
        display: none;
        flex-wrap: wrap;
        margin-left: 6%;
        margin-right: 6%;

        border-top: solid 1px $main-color;

        width: 100%;
        height: 100%;
    }
    
    .menu__profile:hover {
        width: 69%;

        justify-content: space-between;
        
        transition-property: width;
    
        /* transition-delay: 0.2s; */
        transition-duration: 0.2s;
    }

    .menu__profile:hover .profile-avatar {
        margin: 3% 3% 3% 3%;
    }
    
    .menu__profile:hover .profile-info {
        display: inline;

        text-align: center;

        width: 30%;

        margin: 5% 0 0 0;
    }

    .menu__profile:hover + .menu__play-btn {
        width: 29%;
    
        transition-property: width;
    
        transition-delay: 0s;
        transition-duration: 0.2s;
    }

    .menu__profile:hover .menu__profile-buttons-section {
        width: 30%;

        border-top: none;
        border-left: solid $main-color 1px;

        margin: 0;

        justify-content: space-around;
    }

    .menu__profile:hover .profile-score {
        display: inline;
    }

    .menu__profile:hover .profile-button {
        width: 90%;
        height: 38%;
    }

    .profile-button {
        width: 90%;
        height: 25px;

        margin: 5%;

        font-size: 15px;
    
        border-radius: 2px;
        border: solid $main-color 1px;
    
        color: $main-color;
        background: rgba(255, 255, 255, 0.5);
    
        transition: 0.2s linear;
    
        outline: none;
    }

    .profile-button:hover {
        font-size: 17px;
    
        border: solid white 1px;
    
        background-color: $main-color;
        color: white;
    
        transition: 0.2s linear;
    }
    
    .chose {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
        margin: 20vh auto auto auto;
        width: 95%;
        height: 154px;
    }
    
    .options__link {
        color: $main-color;
        text-decoration: none;
        
        transition: 0.2s linear;
    }
    
    .options__link:hover {
        transition: 0.2s linear;
        background-color: $main-color;
        color: white;
    }

}

@media (min-width: 415px) {
    .main-bar {
        display: flex;
        justify-content: space-between;
        float: left;
    
        margin: none;
        width: 70%;
        height: 100px;
    }

    .menu {
        position: relative;
        justify-content: space-between;
    
        margin: 30vh auto auto auto;
        width: 650px;
        height: 154px;
    }
    
    .main-bar__item {
        text-align: center;
    
        width: 32.5%;
        height: 100%;
    
        // margin: 5px 0 0 0;
    
        background-color: white;
    
        border: 1px $main-color solid;
        border-radius: 5px;
    
        transition: 0.2s linear;
    }

    .options {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
        margin: 5px auto;
        width: 650px;
    }

    .menu__profile-buttons-section {
        display: none;
        flex-wrap: wrap;
        margin-left: 6%;
        margin-right: 6%;

        border-top: solid 1px $main-color;

        width: 100%;
        height: 100%;
    }
    
    /* Элементы */
    
    .profile-button {
        width: 90%;
        height: 25px;

        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;

        font-size: 15px;
    
        border-radius: 2px;
        border: solid $main-color 1px;
    
        color: $main-color;
        background: rgba(255, 255, 255, 0.5);
    
        transition: 0.2s linear;
    
        outline: none;
    }

    .profile-button:hover {
        font-size: 17px;
    
        border: solid white 1px;
    
        background-color: $main-color;
        color: white;
    
        transition: 0.2s linear;
    }

    .menu__title {
        text-align: center;
    
        margin: 0px 0px 5px 0px;
    
    
        color: $main-color;
        /* font: driving-around; */
        /* transition-property: color;
    
        transition-duration: 0.2s; */
    }
    
    .profile-avatar {
        margin: 7%;
        height: 70px;
        width: 70px;
    }
    
    .profile-nickname, .profile-score {
        text-align: center;
    
        color: $main-color;
    }
    
    .profile-nickname {
        margin-bottom: 5px;
    }
    
    .profile-score {
        margin: 0px;
    
        font-size: 30px;
    }
    
    .menu_btn {
        font-size: 25px;
    
        border-radius: 5px;
        border: solid $main-color 1px;
    
        color: $main-color;
        background: rgba(255, 255, 255, 0.5);
    
        transition: 0.2s linear;
    
        outline: none;
    }
    
    .btn-1 {
        font-size: 25px;
    
        width: 48%;
    
        border-radius: 5px;
        border: solid $main-color 1px;
    
        color: $main-color;
        background: rgba(255, 255, 255, 0.5);
    
        transition: 0.2s linear;
    
        outline: none;
    }
    
    .menu_btn:hover {
        font-size: 30px;
    
        border: solid white 1px;
    
        background-color: $main-color;
        color: white;
    
        transition: 0.2s linear;
    }
    
    .menu_btn:hover::after {
        display: flex;
        justify-content: space-around;
        margin: none;
    
        font-size: 15px;
        
        content: attr(data-title);
        color: #fff;
        font-family: sans-serif;
        /* background-color: green; */
    
        transition: 0.2s linear;
    }
    
    .menu__play-btn {
        width: 100%;
        height: 50px;
        margin: 5px 0 0 0;
    
        font-size: 25px;
    
        border-radius: 5px;
        border: solid $main-color 1px;
    
        color: $main-color;
        background: rgba(255, 255, 255, 0.5);
        
        outline: none;
    
        transition-property: width;
    
        transition-delay: 0.2s;
        transition-duration: 0.2s;
    }
    
    .menu__play-btn:hover {
        font-size: 30px;
    
        border: solid white 1px;
    
        background-color: $main-color;
        color: white;
    
        transition: 0.2s linear;
    }
    
    .menu__profile {
        float: right;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;
    
        width: 29%;
        height: 98px;
    
        border-radius: 5px;
        border: 1px $main-color solid;
    
        background-color: rgba(255, 255, 255, 0.8);
    
        transition-property: height;
    
        transition-delay: 0s;
        transition-duration: 0.2s;
    }
    
    .menu__profile + .menu__play-btn {
        width: 100%;
    }
    
    
    .menu__profile:hover {
        height: 154px;
        
        transition-property: height;
    
        transition-delay: 0.2s;
        transition-duration: 0.2s;
    }
    
    .menu__profile:hover + .menu__play-btn {
        width: 70%;
    
        transition-property: width;
    
        transition-delay: 0s;
        transition-duration: 0.2s;
    }
    
    .chose {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    
        margin: 30vh auto auto auto;
        width: 650px;
        height: 154px;
    }
    
    .options__link {
        color: $main-color;
        text-decoration: none;
        
        transition: 0.2s linear;
    }
    
    .options__link:hover {
        transition: 0.2s linear;
        background-color: $main-color;
        color: white;
    }
}









/* FROM CHOSE.CSS */

/* .app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;

    position: relative;
    margin: 30vh auto auto auto;
    width: 650px;
    height: 154px;
    justify-content: space-between;
} */

/* Блоки: */

.options {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 5px auto;
    width: 650px;
}

/* Элементы */

.chose__title {
    text-align: center;

    margin: 0px 0px 5px 0px;
    width: 100%;

    color: $main-color;
    /* font: driving-around; */
}

.chose_btn {
    font-size: 25px;

    border-radius: 5px;
    border: solid $main-color 1px;

    color: $main-color;
    background: rgba(255, 255, 255, 0.5);

    transition: 0.2s linear;

    outline: none;
}

.chose_btn:hover {
    font-size: 30px;

    border: solid white 1px;

    background-color: $main-color;
    color: white;

    transition: 0.2s linear;
}

.chose_btn:hover::after {
    display: flex;
    justify-content: space-around;
    margin: none;

    font-size: 15px;
    
    content: attr(data-title);
    color: #fff;
    font-family: sans-serif;
    /* background-color: green; */

    transition: 0.2s linear;
}

.chose__play-btn {
    width: 100%;
    height: 50px;
    margin: 5px 0 0 0;

    font-size: 25px;

    border-radius: 5px;
    border: solid $main-color 1px;

    color: $main-color;
    background: rgba(255, 255, 255, 0.5);
    
    outline: none;

    transition-property: width;

    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.chose__play-btn:hover {
    font-size: 30px;

    border: solid white 1px;

    background-color: $main-color;
    color: white;

    transition: 0.2s linear;
}

.chose__profile {
    float: right;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;

    width: 29%;
    height: 98px;

    border-radius: 5px;
    border: 1px $main-color solid;

    background-color: rgba(255, 255, 255, 0.8);

    transition-property: height;

    transition-delay: 0s;
    transition-duration: 0.2s;
}

.chose__profile + .chose__play-btn {
    width: 100%;
}


.chose__profile:hover {
    height: 154px;
    
    transition-property: height;

    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.chose__profile:hover + .chose__play-btn {
    width: 70%;

    transition-property: width;

    transition-delay: 0s;
    transition-duration: 0.2s;
}


.options__link {
    color: $main-color;
    text-decoration: none;
    
    transition: 0.2s linear;
}

.options__link:hover {
    transition: 0.2s linear;
    background-color: $main-color;
    color: white;
}