@import 'const';
@import 'form';

@import 'LoginComponent';
@import 'SignupComponent';
@import 'LeaderboardComponent';
@import 'MenuComponent';

html, body {
    display: flex;

    width: 100vw;
    height: 100vh;

    margin: 0px;

    color: $main-color;
    font-family: $main-font-family;
}