@import '../../../styles/form';
@import '../../../styles/const';

@media (min-width: 415px) {
    .payments {
       @include main-form-section;
       margin: 0 auto 40% auto;
       width: 98vw;       
    }
}

@media (max-width: 415px) {
    .payments {
        margin: 5vh 0 40% 0;
        width: 98vw;
    }
}

.payments__status-section {
    @include main-status-section;
}

.payments__status-section-element-ok {
    @include main-status-ok;
}

.payments__status-section-element-fail {
    @include main-status-fail;
}

.payments__input-section {
    @include main-form;
}

.payments__input-section-submit {
    @include main-form-btn;
    width: 49%;
}

.payments__input-section-submit:hover {
    @include main-form-btn_hover;
}

.payments__input-border {
    @include main-form__input-border;
    margin: 0 0 5px 0;
}

.payments__input-section-input {
    @include main-form__input;
}

.payments__input-section-input:valid {
    @include main-form__input_valid;
}

.payments__input-section-input:invalid {
    @include main-form__input_invalid;
}

.payments__input-section-input:hover {
    @include main-form__input_hover;
}

::placeholder {
    @include main-form__placeholder;
}

.payments__title { 
    @include main-form__title;
}

.payments__input-section-error-section {
    width: 100%;
    text-align: center;
}

.payments__status-section-container {
    width: 500px;
    height: 100%;
}
