<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
    crossorigin="anonymous">
    <script src="menu.js"></script>
    <link rel="stylesheet" href="menu.css">
</head>
<body>
    <div class="menu">
        <h1 class="menu__title">ADV<a class="hate">HATER</a></h1>
        <div class="main-bar">
            <button class="main-bar__item menu_btn" data-title="LEADERBOARD" data-section="leaderboard"><i class="fas fa-list-ul"></i></button>
            <button class="main-bar__item menu_btn" data-title="PAYOUT" data-section="payout"><i class="fas fa-wallet"></i></button>
            <button class="main-bar__item menu_btn" data-title="SHOP" data-section="shop"><i class="fas fa-shopping-cart"></i></button>
        </div>
        <div class="menu__profile">
            <!-- <img src="https://cdn3.iconfinder.com/data/icons/red-icons-1/512/Male-profile-icon-512.png" class="profile-avatar"></img>
            <div class="profile-info">
                <h4 class="profile-nickname">evvFeburary</h4>
                <h4 class="profile-score">2240 $</h4>
            </div> -->
        </div>
        <button class="menu__play-btn data-section="play"><i class="fas fa-play"></i></button>
        <div class="options">
            <a href="#" class="options__link">Report bug</a>
            <a href="#" class="options__link">Help</a>
            <a href="#" class="options__link">Hate with us!</a>
        </div>  
    </div>
</body>
</html>