@import 'styles/const';
@import 'styles/form';

@import 'js/components/LoginComponent/LoginComponent';
@import 'js/components/SignupComponent/SignupComponent';
@import 'js/components/LeaderboardComponent/LeaderboardComponent';
@import 'js/components/MenuComponent/MenuComponent';
@import 'js/components/PaymentsComponent/PaymentsComponent';
@import 'js/components/LobbyComponent/LobbyComponent';
@import 'js/components/MpSpChose/MpSpChose';
@import 'js/game/game';



html, body {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    width: 100vw;
    height: 100vh;

    margin: 0px;

    overflow: hidden;

    color: $main-color;
    font-family: $main-font-family;
}