$main-font-family: Arial, Helvetica, sans-serif;

$main-color: red;
$main-alternative-color: white;

$main-border: solid $main-color 1px;
$main-alternative-border: solid $main-alternative-color 1px;
$main-animation-duration: 0.2s;