@import 'const';

@mixin main-form-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 20vh auto auto auto;
    width: 450px;
    height: 150px;
}

@mixin main-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin main-form__title {
    margin: 0;

    width: 100%;
    text-align: center;
}

@mixin main-form-btn {
    font-size: 25px;

    width: 49.5%;
    height: 50px;

    border-radius: 5px;
    border: $main-border;

    color: $main-color;
    background: rgba(255, 255, 255, 0.5);

    transition: 0.2s linear;
    outline: none;
}

@mixin main-form_error_text {
    font-size: 16px;
    color: $main-color;
}

@mixin main-form__btn-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 5px;
    width: 100%;
}

@mixin main-form-btn_hover {
    font-size: 30px;

    border: $main-alternative-border;

    background-color: $main-color;
    color: $main-alternative-color;

    transition: 0.2s linear;
}

@mixin main-form__input-border {
    display: flex;

    margin: 5px;
    width: 100%;
    height: 50px;
    
    border: $main-border;
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.5);
}

@mixin main-form__input {
    margin: 5px;
    width: 100%;

    border: 0px;
    border-radius: 5px;
    
    background: rgba(255, 255, 255, 0.5);
    color: $main-color;

    outline: none;

    transition: 0.2s linear;
}

@mixin main-form__input_valid {
    color: $main-color;
    background: $main-alternative-color;
}

@mixin main-form__input_invalid {
    color: $main-alternative-color;
    background: $main-color;
}

@mixin main-form__placeholder {
    color: #D2CFCF;
}

@mixin main-form__input_hover {
    background: rgba(255, 255, 255, 0.5);
    color: $main-color;

    transition: 0.2s linear;
}

@mixin main-status-section {
    display: flex;
    flex-wrap: wrap;

    width: 95%;
    height: 20vh;

    justify-content: flex-end;

}

@mixin main-status-animation {
    animation: slide-right $main-animation-duration ease;
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@mixin main-status-fail {
    @include main-status-animation;

    width: 100%;
    height: 100px;

    margin: 5px 0 0 0;

    background-color: $main-color;
    color: $main-alternative-color;

    font-size: 25px;
    text-align: center;

    border-radius: 10px;
    border: $main-border;
}

@mixin main-status-ok {
    @include main-status-animation;

    width: 100%;
    height: 100px;

    margin: 5px 0 0 0;

    background-color: $main-alternative-color;
    color: $main-color;

    font-size: 25px;
    text-align: center;

    border-radius: 10px;
    border: $main-border;
}