<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="MpSpChose.css">
    <link rel="stylesheet" 
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
	crossorigin="anonymous">
</head>
<body>
    <div class="MpSpChose">
        <h1 class="MpSpChose__title">CHOSE MODE</h1>
        <div class="main-bar">
            <button href="/play" class="main-bar__item sp_btn btn" data-title="SOLO" data-section="sp"><i href="play" class="fas fa-user"></i></button>
            <button href="/play" class="main-bar__item mp_btn_passive" data-title="VS" data-section="mp"><i href="play" class="fas fa-user-friends"></i></button>
            <button href="/" class="main-bar__item back_btn btn" data-title="" data-section="menu"><i class="fas fa-chevron-left"></i></i></button>                    
        </div> 
    </div>
</body>
</html>