<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>test serv</title>
	<link rel="stylesheet" 
		href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
		crossorigin="anonymous">
	<!-- <script src="handlebars.js"></script> -->
	<link rel="stylesheet" href="board.css">	
</head>
<body>
	<div class="leaderboard">
		<h1 class="leaderboard__title">Leaderboard</h1>
		<div class="board">
			<div class="board__player">
				<div class="board__item player-avatar"></div>
				<div class="board__item player-nickname"></div>
				<div class="board__item player-score"></div>
			</div>
		</div>
		<button class="leaderboard_back-button" data-section="menu"><i class="fas fa-undo-alt"></i>
		</button>
	</div>
	<!-- <script type="module" src="main.js"></script> -->
</body>
</html>

